@use "../../styles/variables" as *

.input-with-action
  width: 100%
  display: flex
  flex-direction: column
  gap: 0.5rem

  .iwa-label
    font-size: 0.875rem
    font-weight: 500
    color: $color-text-secondary

  .iwa-input-row
    display: flex
    gap: 0.5rem

    .iwa-input
      flex: 1
      padding: 0.5rem 1rem
      border: 2px solid $color-border
      border-radius: $radius-sm
      outline: none
      font-size: 1rem
      color: $color-text

      &:focus
        border-color: $color-primary